*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    overflow-x: hidden;
}

.main-container{
    display: flex;
    flex-direction: column;
    background-color: #f0ebf8;
}

.main-sub-container{
    display: flex;
    width:100%;
    margin:10px;
    justify-content: space-around;
}

.drop-down{
    width:100%;
}

.logs{
    width:100%;
    display:flex;
    justify-content: center;
    margin:20px auto;
}